.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .ModalContainer {
        margin: 2.5rem auto;
        width: 500px;
        padding: 1rem;
        background: white;
        border-radius: 10px;

        form {
            display: flex;
            flex-direction: column;
            input {
                padding: 1rem;
            }

            input + input {
                margin-left: 1rem;
            }

            .ButtonSubmit{
                margin-top: 0.75rem;
                text-align: center;
                a {
                    width: 45%;
                    padding: 1rem;
                }
                button {
                    width: 45%;
                    padding: 1rem;
                    background: transparent;
                    border-radius: 5px;
                    background: transparent;
                    border:none;
                    border: 1px solid #333;
                    cursor: pointer;
                    transition: filter 0.3s ease-in;
                    &:hover {
                        filter: brightness(0.8);
                    }
                }

                button + button {
                    margin-left: 0.75rem;
                    background-color: #288d50;
                    border: none;
                    color: white;
                    
                    
                }
            }
        }
    }
}