.header {
    width: 100%;
    height: 100px;
    background: rgb(32, 32, 36);;
    position: relative;
    z-index: 9999;
    .headerContent {
        height: 100%;
        .headerContentContainer {
            display: flex;
            justify-content: end;
            align-items: center;
            height: 100%;

            h3 {
                color: white;
                position: absolute;
                left: 25px;
                font-size: 2rem;
            }
            .userLog{
                height: 100%;
                display: flex;
                align-items: center;
                margin-right: 1.5rem;
                p {
                    display: grid;
                    margin-left: 0.75rem;
                    color: white;
                    position: relative;

                    &::before{
                        content: "Logado";
                        width: 30%;
                        border-radius: 8px 25px 26px 18px;
                        position: absolute;
                        left: -85px;
                        background: green;
                        padding: 0.2rem;
                        bottom: -22px;
                      
                    }

                    span{

                    }
                }
                .imageLog{
                    width: 60px;
                   
                    img {
                        border-radius: 50%;
                        width: 100%;
                        border: solid 2px green;
                    }
                }
            }
            button {
                // width: ;
                padding: 0.75rem;
                margin-right: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #f3cf4e;
                border: none;
                border-radius: 5px;

                svg {
                    margin: 0;
                    margin-right: 0.25rem;
                }
            }
        }
    }
}